.articles {
  width: 100%;
  height: 183.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.article-box {
  height: 44.8rem;
  width: 33.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
  border-radius: 1.6rem;
  padding: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.article-box .h2-articles {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  color: #00252e;
  padding-inline: 4rem;
  padding-bottom: 1.6rem;
}

.article-box .article-img {
  width: 25.6rem;
  height: 25.6rem;
  padding: 2.6rem 4rem;
}

.article-box .p_articles {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  color: #808e9a;
  padding-inline: 4rem;
  padding-bottom: 5.4rem;
}

.article-box--secondary {
  margin-top: 12rem;
  width: 35rem;
  height: 17.5rem;
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-box--secondary h2 {
  padding-bottom: 2.4rem;
}
