footer {
  width: 100%;
  height: 78.5rem;
  background-color: #00252e;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  padding-inline: 1.7rem;
  position: relative;

  @media only screen and (min-width: 990px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-inline: 12rem;
  }

  li {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.7rem;
    text-align: center;
    list-style-type: none;
    color: #ffffff;
    padding-top: 1.6rem;
  }

  .footer-img {
    margin-top: 9rem;
    @media only screen and (min-width: 990px) {
      position: absolute;
      top: 11rem;
      left: 10rem;
    }
  }

  .contact-box {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    position: relative;
    width: 30rem;
    height: auto;
    margin-left: 3.5rem;
  }

  .adress::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: -3.5rem;
    top: 3rem;
    background-image: url("../images/icon-location.svg");
    color: white;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
  }

  .phone::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: -3.5rem;
    top: 12rem;
    background-image: url("../images/icon-phone.svg");
    color: white;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
  }

  .e-mail::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 15rem;
    left: -3.5rem;
    background-image: url("../images/icon-email.svg");
    color: white;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding-bottom: 4rem;
  }

  .p_footer {
    padding-top: 2.4rem;
  }

  ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    @media only screen and (min-width: 990px) {
      height: 13rem;
      width: 24rem;
      padding-left: 4rem;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  .social-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 3.5rem;
    width: 100%;

    @media only screen and (min-width: 990px) {
      width: 30%;
      justify-content: space-around;
      height: 20rem;
    }

    @media only screen and (max-width: 990px) {
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      height: auto;
    }

    .socials-svg {
      display: flex;
      gap: 1.1rem;
      justify-content: flex-start;
      width: 100%;

      @media only screen and (max-width: 990px) {
        justify-content: center;
      }

      svg {
        color: white;

        &:hover {
          color: #ff52c1;
        }
      }
    }

    .p_footer_socials {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 1.11304rem;
      line-height: 1.7rem;
      color: #ffffff;
    }
  }
}
