.hero {
  width: 100%;
  height: 72rem;
  background-image: url("../images/bg-hero-mobile.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 3.1rem 1.6rem;
  width: 100%;
  .btn-secondary {
    background: #ffffff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.0954201);
    border-radius: 1.2rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.4rem;
    border: none;
    color: #00252e;

    padding: 0.4rem 2.2rem;
  }
  .header-img {
    width: 10.4rem;
    height: 1.6rem;
  }
}

.hero-main {
  height: 55.3rem;
  width: 30.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .h1-hero {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: center;
    color: #00252e;
  }
  .p-hero {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: #00252e;
  }
  .hero-img {
    width: 29.6rem;
    height: 20.9rem;
  }
}

.btn-primary {
  background: #ff52c1;
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
  border-radius: 2rem;
  color: white;
  padding: 1.2rem 6rem;
  border: none;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
}
