@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 37.5rem;
  display: grid;
  place-items: center;
  margin-inline: auto;
  max-height: 333.5rem;
}
