@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // transition: all linear 0.3s;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  //   37.5rem;
  display: grid;
  place-items: center;
  margin-inline: auto;
  //   height: 100vh;
  //   background-color: rgb(213, 207, 207);
  max-height: 333.5rem;
}

// font-family: "Open Sans", sans-serif;
// font-family: "Poppins", sans-serif;
